<h1>Sign In</h1>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Username">Username</label>
  <input type="text" name="user[username]" id="Username" value="">

  <label for="Password">Password</label>
  <input type="text" name="user[password]" id="Password" value="">

  <input type="submit" name="" value="Sign In">
</form>
