<h1>Goals Index</h1>

<ul>
  <% @goals.each do |goal| %>

    <li>
      <%= link_to goal.description, goal_url(goal) %> by <%= link_to goal.user.username, user_url(goal.user) %>
    </li>

  <% end %>
</ul>
